*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
  }
  
  
  .parent_bloque-fechas {
    height: 100vh;
    border: 20px solid black;
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    justify-content: baseline;
  }
  
  .child_full-time1{
    width: 200px;
    height: 200px;
    background: blue;
  }
  
  .child2_part-time{
    width: 200px;
    height: 200px;
    background: red;
  }
  .child3_full-presencial{
    width: 200px;
    height: 200px;
    background: purple;
  }
  
  .child4_full-time2{
    width: 200px;
    height: 200px;
    background: green;
  }