/* CSS lección _ Sintaxis */
body{
    background-color: lightblue;
}
h1{
    font-family: openDyslexic;
    color: white;
    text-align: center;
}
p {
    font-family: OpenDyslexic;
    font-size: 30 px;
}

#cssSintaxis {
    display: flex;
    justify-content: space-around;
    margin: 45%;
}


/* CSS flexbox1 _ froggy */
.parent {
    display: flex;
    height: 300px; 
    }

    .child {
    width: 300px; 

    height: 100px; 
    margin: auto;  
    }
    
.candy{
    background: #c0870d;
    height: 100px;
    width: 100px;
    display: flex;
    justify-content:flex-end;
  }


/* CSS grid1 _ gridgarden */

#garden {
    background-color: rgb(255, 255, 255);
    color: chocolate;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

  #water {
    background-color: rgb(0, 0, 0);
    color: darkgreen;
    grid-column-start: 3;

  }

/* CSS Leccion _ How to */

body {
  background-color: lightblue;
}
h1 {
  color:rgb(255, 255, 255); /* CSS Leccion _ Comment in CSS */
  margin-left: 20px;
}
/* CSS Leccion _ Comment in CSS */
.box_model_class {
  width: 300px;
  border: 15px solid orangered;
  padding: 50px;
  margin: 20px;
}
#id_element {
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
#outLineLesson1 {
  border:2px solid rgb(18, 255, 109);
  outline:orangered solid 10px;
  outline-color: orchid;
  outline-offset: 3px;
  outline: dashed;
  margin: auto;
  padding: 27px;
  text-align:center;

}
#outLinedotted {
  border:2px solid rgb(18, 255, 109);
  outline-offset: 3px;
  outline: dotted red;
  margin: auto;
  padding: 32px;
  text-align:center;
  color: paleturquoise;

}
#outLinedashed {
  border:2px solid rgb(18, 255, 109);
  outline-offset: 3px;
  outline: dashed red;
  margin: auto;
  padding: 20px;
  text-align:center;
  color: paleturquoise;

}
#outLinesolid {
  border:2px solid rgb(18, 255, 109);
  outline-offset: 3px;
  outline: solid red;
  margin: auto;
  padding: 20px;
  text-align:center;
  color: paleturquoise;

}
#outLinedouble {
  border:2px solid rgb(18, 255, 109);
  outline-offset: 3px;
  outline: double red;
  margin: auto;
  padding: 20px;
  text-align:center;
  color: paleturquoise;

}
#outLinegroove {
  border:2px solid rgb(18, 255, 109);
  outline-offset: 3px;
  outline: groove rgb(153, 56, 0) 6px;
  margin: auto;
  padding: 20px;
  text-align:center;
  color: paleturquoise;

}
#outLineridge {
  border:2px solid rgb(18, 255, 109);
  outline-offset: 2px;
  outline: inset rgb(153, 56, 0) 6px;
  margin: auto;
  padding: 20px;
  text-align:center;
  color: paleturquoise;

}
#outLineinset {
  border:3px solid rgb(18, 255, 109);
  outline-offset: 3px;
  outline: inset rgb(153, 56, 0) 6px;
  margin: auto;
  padding: 20px;
  text-align:center;
  color: paleturquoise;

}
#outLineoutset {
  border:2px solid rgb(18, 255, 109);
  outline-offset: 3px;
  outline: outset red 6px;
  margin: auto;
  padding: 20px;
  text-align:center;
  color: paleturquoise;

}
#outLinenone {
  border:2px solid rgb(18, 255, 109);
  outline-offset: 3px;
  outline: none red;
  margin: auto;
  padding: 20px;
  text-align:center;
  color: paleturquoise;

}
#outLinehidden {
  border:2px solid rgb(18, 255, 109);
  outline-offset: 3px;
  outline: hidden red 10px;
  margin: auto;
  padding: 20px;
  text-align:center;
  color: paleturquoise;

}
